.child1
{
    border: thin solid white;
    color: white;
}

.child2
{
    border: thin solid white;
    color: white;
    cursor: pointer;
}


.master
{
    width: 75%;
    height: 20%;
    border: thin solid white;
    color: white;
}

.notes
{
    width: 25%;
    height: 20%;
    border: thin solid white;
    color: white;
}