body {
    margin: 2em;
    font-family: 'Roboto', sans-serif;
    color: #1c1c1c;
}

.letter-container {
    width: fit-content;
    height: 100%;
    display: flex;
    margin-bottom: 2em;
}

.letter {
    font-size: 4em;
    margin-right: 0.25em;
    background: #F6F2D8;
    border-radius: 0.5em;
    text-align: center;
    min-width: 1.25em;
    height: 1.25em;
    border: 0.1em solid transparent;
}

.highlight {
    border: 0.1em solid #B96D40;
}

.button-container {
    display: flex;
}

button {
    padding: 0.5em;
    background: white;
    border-radius: 0.5em;
    cursor: pointer;
}

.button-label {
    font-size: 1.5em;
    width: 7em;
}

.button:hover, #compare:hover {
    background: #F6F2D8;
}

.move-button {
    font-size: 1.4em;
    width: 2.5em;
    height: 2.5em;
    font-weight: bold;
    margin: 0.5em 0.25em;
}

#compare {
    font-size: 1.4em;
}

#infos
{
    font-size: 2.5em;
    display: flex;
    width: 100%;
    height: auto;
    position: fixed;
    bottom: 0;
    left: 0;
    border: thin solid black;
}

#legend {
    background: #7A8B99;
    padding: 1em;
    font-size: 0.5em;
}

#console
{
    flex: 1;
    background: #7A8B99;
    padding: 1em;
    font-size: .5em;
    overflow-y: scroll;
}

.blocker
{
    position: absolute;
    height: 1.1em;;
    background: inherit;
    left: 0;
}
