body
{
  background-color: black;
  color: white;
  padding-left: 5%;
  padding-right: 5%;
  overflow-y: visible;
}

canvas
{
  position: fixed;
  left: 0;
  top: 0;
  z-index: -1;
}

div
{
  margin-bottom: 10px;
  margin-top: 10px;
  padding: 25px;
  border: thin solid white;
}

div.download
{
  display: flex;
  justify-content: center;
  border: none;
}

img.download
{
  filter: invert(1);
  vertical-align: middle;
  transform: translateY(-5%);
}

details
{
  margin-bottom: 3px;
}

summary
{
  margin-bottom: 3px;
}

ul
{
  list-style-type: disc;
}

a:link, a:visited
{
  text-decoration: none;
  color: white;
}

.h4
{
  font-size: 18px;
}

h1
{
  text-align: center;
}


