body
{
    background-color: black;
    overflow: hidden;
}

.standard_font
{
    color: white;
    font-family: 'Brush Script MT', cursive;
    font-size: 2vw;
}

.standard_jf_window_style
{
    width: 99.5%;
    border: thin solid white;
}