@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

body
{
    background-color: black;
    overflow: hidden;
    user-select: none;
}

.standard_font
{
    color: white;
    font-family: 'VT323', cursive;
    font-size: 3vw;
}

.small_font
{
    color: rgba(255,255,255,0);
    font-family: 'VT323', cursive;
    font-size: 1.25vw;
}

@keyframes continuation
{
    0%
    {
        color: rgba(255,255,255,.1);
    }
    100%
    {
        color: rgba(255,255,255,1);
    }
}

.standard_jf_window_style
{
    width: 99.5%;
    border: thin solid white;
}

.child
{
    border: thin solid white;
}

.master
{
    width: 75%;
    height: 20%;
    border: thin solid white;
    line-height: .9;
}

.notes
{
    width: 17%;
    height: 17%;
    border: thin solid white;
    line-height: .9;
    color: white;
}

.tasks
{
    color: white;
}

.childText_selected
{
    border: thin dashed black;
    color: black;
}

.childSearch_selected
{
    border: thin dashed black;
    color: black;
}